<div class="container-fluid">

  <div class="col-xs-6 col-sm-4">
    <div class="bs-gallery">
    <div class="thumbnail">
      <a ng-click="scheduler.navToPicFromMain('Original')" ng-href="#!original#graphs">
        <img src="pics/original.png" alt="Original Graph">
        <div class="caption">
          <p>Original Graph</p>
        </div>
      </a>
    </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4">
    <div class="bs-gallery">
    <div class="thumbnail">
      <a ng-click="scheduler.navToPicFromMain('AIT')" ng-href="#!AIT#graphs">
        <img src="pics/ai.png" alt="Artificial Intelligence (AIT)">
        <div class="caption">
          <p>Artificial Intelligence (AIT)</p>
        </div>
      </a>
    </div>
    </div>
  </div>

  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4">
    <div class="bs-gallery">
    <div class="thumbnail">
      <a ng-click="scheduler.navToPicFromMain('DBA')" ng-href="#!DBA#graphs">
        <img src="pics/DBs.png" alt="Database Systems and Data Analytics (DBA)">
        <div class="caption">
          <p>Database Systems and Data Analytics (DBA)</p>
        </div>
      </a>
    </div>
    </div>
  </div>

  <div class="clearfix hidden-xs"></div>

  <div class="col-xs-6 col-sm-4">
    <div class="bs-gallery">
    <div class="thumbnail">
      <a ng-click="scheduler.navToPicFromMain('SWS')" ng-href="#!SWS#graphs">
        <img src="pics/engineering.png" alt="Software Engineering (SWS)">
        <div class="caption">
          <p>Software Engineering (SWS)</p>
        </div>
      </a>
    </div>
    </div>
  </div>

  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4">
    <div class="bs-gallery">
    <div class="thumbnail">
      <a ng-click="scheduler.navToPicFromMain('CGG')" ng-href="#!CGG#graphs">
        <img src="pics/graphics.png" alt="Computer Graphics and Game Design (CGG)">
        <div class="caption">
          <p>Computer Graphics and Game Design (CGG)</p>
        </div>
      </a>
    </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4">
    <div class="bs-gallery">
    <div class="thumbnail">
      <a ng-click="scheduler.navToPicFromMain('ICA')" ng-href="#!ICA#graphs">
        <img src="pics/ica.png" alt="Information and Computation Assurance (ICA)">
        <div class="caption">
          <p>Information and Computation Assurance (ICA)</p>
        </div>
      </a>
    </div>
    </div>
  </div>

  <div class="clearfix hidden-xs"></div>
  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-4">
    <div class="bs-gallery">
    <div class="thumbnail">
      <a ng-click="scheduler.navToPicFromMain('CNT')" ng-href="#!CNT#graphs">
        <img src="pics/network.png" alt="Computer Networking (CNT)">
        <div class="caption">
          <p>Computer Networking (CNT)</p>
        </div>
      </a>
    </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4">
    <div class="bs-gallery">
    <div class="thumbnail">
      <a ng-click="scheduler.navToPicFromMain('CSY')" ng-href="#!CSY#graphs">
        <img src="pics/systems.png" alt="Computer Systems (CSY)">
        <div class="caption">
          <p>Computer Systems (CSY)</p>
        </div>
      </a>
    </div>
    </div>
  </div>

</div>