<div class="container-fluid">

  <div class="fix-bs-padding col-xs-3 col-sm-2">
    <div class="bs-sub-pic">
      <a ng-click="scheduler.navToPicFromSubPic('Original')" ng-href="#!original#graphs">
        <img src="pics/original.png" alt="Original Graph">
        <div class="desc">Original Graph</div>
      </a>
    </div>
  </div>

  <div class="fix-bs-padding col-xs-3 col-sm-2">
    <div class="bs-sub-pic">
      <a ng-click="scheduler.navToPicFromSubPic('AIT')" ng-href="#!AIT#graphs">
        <img src="pics/ai.png" alt="Artificial Intelligence (AIT)">
        <div class="desc">Artificial Intelligence (AIT)</div>
      </a>
    </div>
  </div>

  <div class="fix-bs-padding col-xs-3 col-sm-2">
    <div class="bs-sub-pic">
      <a ng-click="scheduler.navToPicFromSubPic('DBA')" ng-href="#!DBA#graphs">
        <img src="pics/DBs.png" alt="Database Systems and Data Analytics (DBA)">
        <div class="desc">Database Systems and Data Analytics (DBA)</div>
      </a>
    </div>
  </div>

  <div class="fix-bs-padding col-xs-3 col-sm-2">
    <div class="bs-sub-pic">
      <a ng-click="scheduler.navToPicFromSubPic('SWS')" ng-href="#!SWS#graphs">
        <img src="pics/engineering.png" alt="Software Engineering (SWS)">
        <div class="desc">Software Engineering (SWS)</div>
      </a>
    </div>
  </div>

  <div class="clearfix visible-xs"></div>
  <div class="visible-xs"><br></div>

  <div class="fix-bs-padding col-xs-3 col-sm-2">
    <div class="bs-sub-pic">
      <a ng-click="scheduler.navToPicFromSubPic('CGG')" ng-href="#!CGG#graphs">
        <img src="pics/graphics.png" alt="Computer Graphics and Game Design (CGG)">
        <div class="desc">Computer Graphics and Game Design (CGG)</div>
      </a>
    </div>
  </div>

  <div class="fix-bs-padding col-xs-3 col-sm-2">
    <div class="bs-sub-pic">
      <a ng-click="scheduler.navToPicFromSubPic('ICA')" ng-href="#!ICA#graphs">
        <img src="pics/ica.png" alt="Information and Computation Assurance (ICA)">
        <div class="desc">Information and Computation Assurance (ICA)</div>
      </a>
    </div>
  </div>

  <div class="clearfix hidden-xs"></div>
  <div class="hidden-xs"><br></div>

  <div class="fix-bs-padding col-xs-3 col-sm-2">
    <div class="bs-sub-pic">
      <a ng-click="scheduler.navToPicFromSubPic('CNT')" ng-href="#!CNT#graphs">
        <img src="pics/network.png" alt="Computer Networking (CNT)">
        <div class="desc">Computer Networking (CNT)</div>
      </a>
    </div>
  </div>

  <div class="fix-bs-padding col-xs-3 col-sm-2">
    <div class="bs-sub-pic">
      <a ng-click="scheduler.navToPicFromSubPic('CSY')" ng-href="#!CSY#graphs">
        <img src="pics/systems.png" alt="Computer Systems (CSY)">
        <div class="desc">Computer Systems (CSY)</div>
      </a>
    </div>
  </div>

</div>